---

- name: Node Setup.
  hosts: all
  become: true
  tasks:
    - name: Install package requirement.
      apt:
        name: "{{ item }}"
        state: present
        update_cache: yes
      with_items:
        - apt-transport-https
        - ca-certificates
        - curl
        - gnupg-agent
        - software-properties-common
        - unzip
        - htop

    - name: Add Docker apt Key
      apt_key:
        url: https://download.docker.com/linux/ubuntu/gpg
        id: 9DC858229FC7DD38854AE2D88D81803C0EBFCD88
        state: present
      register: add_repository_key
      ignore_errors: true

    - name: Add Docker repository.
      apt_repository:
        repo: "{{ docker_apt_repository }}"
        state: present
        update_cache: true
      vars:
        docker_apt_repository: "deb [arch=amd64] https://download.docker.com/linux/{{ ansible_distribution|lower }} {{ ansible_distribution_release }} stable"

    - name: Update Debian package
      apt:
        update_cache: yes

    - name: Install Docker and dependencies.
      apt:
        name: "{{ item }}"
        state: present
        update_cache: yes
      with_items:
        - docker-ce
        - containerd.io
      notify: docker status

    - name: Add user vagrant to docker group.
      user:
        name: vagrant
        group: docker

    - name: Remove swap file from /etc/fstab.
      mount:  
        name: "{{ item }}"
        fstype: swap
        state: absent
      with_items:
        - swap
        - none

    - name: Disable swap
      command: swapoff -a
      when: ansible_swaptotal_mb > 0

    - name: Add key for kubernetes.
      apt_key:
        url: https://packages.cloud.google.com/apt/doc/apt-key.gpg
        state: present

    - name: Add repository for kubernetes
      apt_repository:
        repo: deb https://apt.kubernetes.io/ kubernetes-xenial main
        state: present
        filename: kubernetes.list
    
    - name: Install kubernetes binaries.
      apt:
        name: "{{ item }}"
        state: present
        update_cache: yes
      with_items:
        - kubelet
        - kubeadm
        - kubectl

    - name: Configure node ip.
      lineinfile:
        path: /usr/bin/kubelet
        line: KUBELET_EXTRA_ARGS=--node-ip={{ node_ip }}

    - name: Restart kubelet
      service:
        name: kubelet
        daemon_reload: yes
        enabled: yes
        state: restarted

    # - name: Put file kubeadm_join from master.
    #   command: scp -o StrictHostKeyChecking=no vagrant@172.28.128.101:/home/vagrant/kubeadm_join_cmd.sh /home/vagrant/kubeadm_join_cmd.sh
    
    - name: Change file ownership, group and permissions
      file:
        path: /home/vagrant/kubeadm_join_cmd.sh
        owner: vagrant
        group: vagrant
        mode: '0777'

    - name: Join to the cluster.
      shell: sh /home/vagrant/kubeadm_join_cmd.sh

  handlers:
    - name: docker status
      service:
        name: docker
        state: started
